*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background: #d4d4d4;
    overflow: hidden;
}

.loginScreenContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.loginScreenContainer .formContainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.formContainer h1{
    font-size: 5em;
    margin-bottom: 80px;
}

.formContainer form{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

form  input{
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

form > input:focus{
    outline: 1px solid #ef233b4a;
}

form label{
    font-size: 1em;
    margin: 5px;
    font-weight: 500;
}

form .check{
    display: flex;
    align-items: center;
}

.check label{
    margin-bottom: 23px;
}

.check #checkBox{
    width: 20px;
    height: 20px;
    accent-color: #EF233C;
}

.btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

form #btnSubmit{
    width: 60%;
    background: #EF233C;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

#btnSubmit:hover{
    transition: .1s;
    background: #db394c;
}

#btnSubmit:disabled{
    background: #db394c;
    cursor: not-allowed;
}

.lower-part{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    font-size: 1.2em;
}

.lower-part a{
    color: #EF233C;
}

.lower-part a:hover{
    transition: .1s;
    color: rgb(103, 0, 0);
}

.imagemLogin{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/LogoBackground.png);
    background-position: cover;
    background-position: center;
   
}