*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: auto;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    background: white;
    width: 100%;
    z-index: 99999;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
}

nav > .logo img{
    width: 120px;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 1em;
}

nav > ul > a{
    text-decoration: none;
    color: black;
}

nav > ul >  a > li{
    font-size: 1.2em;
    font-weight: 500;
    transition: .2s;
}

nav > ul > a > li:hover{
    color: #EF233C;
}

header > .login-navBar{
    display: flex;
    gap: 1em;
}

header > .login-navBar > a > button{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

header > .login-navBar > a {
    text-decoration: none;
}

header > .login-navBar > a > .login-btn{
    border: 1px solid #EF233C;
    color: #EF233C;
    background: none;
    transition: .2s;
}

header > .login-navBar > a > .login-btn:hover{
    background-color: #EF233C;
    border: none;
    color: white;
}

header > .login-navBar > a > .cadastro-btn{
    font-size: .9em;
    background: #EF233C;
    border: none;
    color: white; 
    transition: .2s;  
}

header > .login-navBar > a > .cadastro-btn:hover{
    border: 1px solid #EF233C;
    background: white;
    color: #EF233C;
}