
/* .container > header{
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

header > .logo{
    width: 10%;
}

.logo > img{
    width: 120px;
}

header > nav{
    display: flex;
}

header > nav > ul{
    display: flex;
    list-style: none;
    gap: 1em;
}

header > nav > ul > a{
    text-decoration: none;
    color: black;
}

header > nav > ul > a > li{
    font-size: 1.3em;
    padding: 5px 10px;
    font-size: 700;
    border-radius: 5px;
}

header > nav > ul > a > li:hover{
    background: rgba(138, 138, 138, 0.284);
}


header > span{
    width: 10%;
} */


#sideBar{
    width: 90px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #ef233b30;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    flex-direction: column;
    padding: 10px;
    transition: .2s;
    overflow: hidden;
    margin-right: 50px;
    position: fixed;
}

aside > .expand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside > .expand > button{
    border: none;
    background: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

aside > .expand > button > img{
    width: 30px;
    height: 30px;
}

aside > .expand > button:hover{
    background: #80808067;
}

aside > nav{
    display: flex;
}

aside > nav > ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1em;
}

aside > nav > ul > li{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 1.3em;
    cursor: pointer;
}

aside > nav > ul > li > p{
    margin-left: -2px;
}

aside > nav > ul > li > img:hover{
    background: #80808067;
}

aside > nav > ul > li > img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
}

aside > .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


aside > .logo > img{
    width: 100px;
}
